.list {
	background-color: var(--white-color);
	border: 1px solid var(--table-border-color);
	display: flex;
	filter: drop-shadow(#{var(--shadow-but)});
	flex-direction: column;
	gap: 2px;
	margin-top: 0.325rem;
	min-width: 21.875rem;
	padding: 0.5rem;
	position: absolute;
	z-index: 1;

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	&.text-start {
		align-items: flex-start;
		text-align: start;

		button {
			text-align: start;
		}
	}

	&.text-end {
		align-items: flex-end;
		text-align: end;

		button {
			text-align: end;
		}
	}

	&.text-center {
		align-items: center;
		text-align: center;

		button {
			text-align: center;
		}
	}

	li,
	button {
		display: block;
		flex: 1;
		width: 100%;
	}
}

.listHeader {
	border-bottom: 1px solid #000;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

.parentOfChildren > * {
	height: 100%;
}
