.list {
	position: absolute;
	padding: 0.5rem;
	margin-top: 0.325rem;
	border: 1px solid var(--table-border-color);
	filter: drop-shadow(#{var(--shadow-but)});
	min-width: 21.875rem;
	display: flex;
	flex-direction: column;
	gap: 2px;
	background-color: var(--white-color);

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	&.text-start {
		align-items: flex-start;
		text-align: start;

		button {
			text-align: start;
		}
	}

	&.text-end {
		text-align: end;
		align-items: flex-end;

		button {
			text-align: end;
		}
	}

	&.text-center {
		text-align: center;
		align-items: center;

		button {
			text-align: center;
		}
	}

	li,
	button {
		width: 100%;
		flex: 1;
		display: block;
	}
}

.listHeader {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	border-bottom: 1px solid #000;
}



