@font-face {
	font-display: swap;
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: normal;
	src: url('PTSans-Italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: bold;
	src: url('PTSans-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold;
	src: url('PTSans-Bold.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: normal;
	src: url('PTSans-Regular.woff2') format('woff2');
}
