.aside {
	display: flex;
	flex-direction: column;
	padding: 0.75rem 1rem 2.5rem;
	transition: 0.3s all;
	width: 19.75rem;

	&.collapsed {
		margin-left: 1rem;
		padding: 0.75rem 0 2.5rem;
		width: 3.375rem;

		.asideLink {
			justify-content: center;
			padding: 0.75rem 0.688rem;

			svg + span,
			span + svg {
				display: none;
			}
		}

		.collapseBtn {
			padding: 0;
		}
	}
}

.asideListWrapper {
	background-color: var(--white-color);
	box-shadow: var(--shadow);
	max-height: 35.938rem;
	overflow: hidden auto;
	padding: 0 0.375rem;

	&.darkTheme {
		background-color: var(--primary-dark-color);
	}
}

.asideList {
	background-color: var(--main-select-color);
	display: flex;
	flex-direction: column;
	gap: 0.125rem;

	li {
		background-color: var(--white-color);
	}
}

.darkTheme {
	.asideList li, .asideLink, .asideSubList {
		background-color: var(--primary-dark-color);
	}
}

.asideLink {
	align-items: center;
	background-color: var(--white-color);
	display: flex;
	gap: 0.75rem;
	margin: 0.75rem 0;
	padding: 0.75rem 0.625rem;

	&:has(+ .asideSubList) {
		padding: 0.325rem 0.625rem;
	}

	&:hover {
		background-color: var(--main-select-color);
	}

	&.active {
		background-color: var(--main-select-color);

		.chevronIcon {
			transform: rotate(180deg);
		}
	}

	.chevronIcon {
		transition: all 0.3s;
	}
}

.asideSubList {
	background-color: var(--white-color);
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding: 0 0.5rem 0.75rem;
}
