.tableWrapper {
	overflow-x: auto;

	&:not(:global .p-0) {
		padding-bottom: 1rem;
		padding-right: 2.5rem;
	}
}

.table {
	border-collapse: collapse;
	border-spacing: 0;

	&:not(:global .w-max) {
		width: 100%;
	}
}

.thead {
	background-color: var(--table-head-color);
	border-radius: 0.5rem;

	&:not(.extended) {
		th {
			padding: 1rem 1.625rem;

			&:first-child {
				border-bottom-left-radius: 0.5rem;
				border-top-left-radius: 0.5rem;
			}

			&:last-child {
				border-bottom-right-radius: 0.5rem;
				border-top-right-radius: 0.5rem;
			}
		}
	}

	&.extended {
		th {
			border: 0.5px solid var(--table-border-color);
			border-bottom: 0;
			padding: 1rem 1.625rem;
		}

		tr {
			&:first-child {
				th {
					border-top: 0;

					&:first-child {
						border-left: 0;
						border-right: 0;
					}

					&:first-child {
						border-top-left-radius: 0.5rem;
					}

					&:last-child {
						border-top-right-radius: 0.5rem;
					}
				}
			}

			th {
				&:last-child {
					border-right: 0;
				}
			}
		}

		td {
		}
	}
}

.tbody {
	text-align: center;

	&::before {
		// trick for space between thead and tbody
		content: '@';
		display: block;
		line-height: 0.625rem;
		text-indent: -99999px;
	}

	tr {
		border-bottom: 1px solid var(--secondary-hover-button-color);
		border-top: 1px solid var(--secondary-hover-button-color);
	}

	td {
		padding: 0.75rem 1.625rem;

		&:not(&:first-child, &:last-child) {
			border-left: 1px solid var(--secondary-hover-button-color);
			border-right: 1px solid var(--secondary-hover-button-color);
		}
	}
}
