// TODO: make a global variable for transition-duration
.inputWrapper {
	display: flex;
}

.iconWrapper {
	align-items: center;
	background-color: var(--main-button-color);
	display: flex;
	height: 3rem;
	justify-content: center;
	transition: all 0.3s;
	width: 3rem;

	&:has(+ .input:hover, + .input:active, + .input:focus) {
		background-color: var(--main-hover-button-color);
	}
}

.input {
	border: 1px solid var(--table-border-color);
	transition: all 0.3s;
	min-width: 5rem;

	&::placeholder {
		color: var(--muted-text-color);
	}

	&:hover,
	&:active,
	&:focus {
		background-color: var(--white-color);
		outline: none;
	}

	// bg color
	&.colored {
		background-color: var(--table-head-color);
	}

	// size (dimension)
	&.sm {
		padding: 0.5rem 1rem;
	}

	&.lg {
		padding: 0.75rem 1.25rem;
	}
}

.file {
	border: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	position: absolute;
	z-index: -1;

	&.sm,
	&.lg {
		padding: 0;
	}
}

.fileWrapper {
	align-items: center;
	background-color: var(--print-button-color);
	box-shadow: var(--shadow-but);
	color: var(--white-color);
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	padding: 0.5rem 0.75rem;
	transition: 0.3s all;
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		background-color: var(--print-active-button-color);
	}
}
