// TODO: make a global variable for transition-duration
.inputWrapper {
	display: flex;
}

.iconWrapper {
	background-color: var(--main-button-color);
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;

	&:has(+.input:hover,+.input:active, +.input:focus) {
		background-color: var(--main-hover-button-color);
	}
}

.input {
	transition: all 0.3s;
	border: 1px solid var(--table-border-color);

	&::placeholder {
		color: var(--muted-text-color);
	}

	&:hover,
	&:active,
	&:focus {
		outline: none;
		background-color: #fff;
	}

	// bg color
	&.colored {
		background-color: var(--table-head-color);
	}

	// size (dimension)
	&.sm {
		padding: 0.5rem 1rem;
	}

	&.lg {
		padding: 0.75rem 1.25rem;
	}
}

.file {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 0;

	&.sm, &.lg {
		padding: 0;
	}
}

.fileWrapper {
	width: 100%;
	padding: 0.5rem 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--print-button-color);
	color: var(--white-color);
	box-shadow: var(--shadow-but);
	transition: 0.3s all;

	&:hover,
	&:active,
	&:focus {
		background-color: var(--print-active-button-color);
	}
}