.me-0\.75 {
	margin-right: 0.75rem;
}

.mb-0\.625 {
	margin-bottom: 0.625rem;
}

.mb-0\.5 {
	margin-bottom: 0.5rem;
}

.ms-auto {
	margin-left: auto;
}

.mt-auto {
	margin-top: auto;
}

.my-1\.25 {
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
}

.my-0\.75 {
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
}

.my-2 {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mb-1\.25 {
	margin-bottom: 1.25rem;
}

.mb-1\.5 {
	margin-bottom: 1.5rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-2\.5 {
	margin-bottom: 2.5rem;
}

.mb-4\.25 {
	margin-bottom: 4.25rem;
}

.mt-2\.5 {
	margin-top: 2.5rem;
}

.pb-0 {
	padding-bottom: 0;
}

.px-1\.25 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.px-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.pt-1\.25 {
	padding-top: 1.25rem;
}

.pt-2\.5 {
	padding-top: 2.5rem;
}

.pe-2 {
	padding-right: 2rem;
}

.py-0\.5 {
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.py-2 {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.pe-2\.5 {
	padding-right: 2.5rem;
}
