@import 'mixins';

.layout {
	column-gap: 1.5rem;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
	grid-template-rows: 6.75rem auto;
	height: 100vh;
	overflow: hidden;

	> * {
		grid-column: col-start / span 12;
	}

	&:not(:has(.sidebar)) .main {
		grid-column: 1 / span 12;
		padding-left: 2.5rem;
	}
}

.sidebar {
	grid-column: col-start / span 2;
	grid-row: 2 / 4;
}

.main {
	display: flex;
	flex-direction: column;
	grid-column: col-start 3 / span 10;
	grid-row: 2 / 4;
	overflow-y: auto;
	padding: 0 2.5rem 2.5rem 1.5rem;

	&.large {
		grid-column: col-start / span 12;
	}

	&:has(:global .pe-0) {
		padding-right: 0;
	}
}
