// TODO: use as components, not global styles
.text-main-bold {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 147.4%;
}

.text-main-regular {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: -0.03em;
	line-height: 147.4%;
}

.text-table-header {
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 140.9%;
}

.text-muted {
	color: var(--muted-text-color);
}

.text-danger {
	color: var(--status-hover-reject-color);
}

.subtitle {
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 140.9%;
	letter-spacing: -0.03em;
}

.h1 {
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: -0.01em;
	line-height: 140.9%;
}

.h2 {
	font-size: 1.625rem;
	font-weight: 700;
	letter-spacing: -0.01em;
	line-height: 140.9%;
}

.h3 {
	font-size: 1.375rem;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 140.9%;
}
